<h1>Blog Posts</h1>

<hr>

Our blog has <%= @articles.count %> articles and counting!

<hr class="underline">

<div class="links">
<ul>
<li>
  <%= link_to "All Articles", root_path %>
</li>
<li> | </li>
<li>
  <%= link_to "New Article", new_article_path %>
</li>
</ul>
</div>

<hr class="nav__underline">

<br>

<div class="articles__container">
  <% count = 0 %>
  <% @articles.each do |article| %>
      <div class="article">
        <%= link_to article do %>
          <h2><%= article.title %></h2>
          <br>
          <%= article.body %>
          <br><br>
          <hr class="hr__datecreated">
          <% if article.created_at == article.updated_at %>
            <em>Date Created: <%= article.created_at.strftime('%d %B %Y') %></em>
          <% else %>
            <em>Date Modified: <%= article.updated_at.strftime('%d %B %Y') %></em>
          <% end %>
          <hr class="hr__datecreated">
          <% count += 1 %>
        <% end %>
          <br>
          <br><br>
          <%= '<hr>'.html_safe if count < @articles.count %>
          <br>
      </div>
  <% end %>
</div>

