<% if flash[:comment_failure] %>
  <div class="div__message-failure">
    <p class="comment-message"><%= flash[:comment_failure] %></p>
  </div>
<% elsif flash[:comment_success] %>
  <div class="div__message-success">
    <p class="comment-message"><%= flash[:comment_success] %></p>
  </div>
<% elsif flash[:post_success] %>
  <div class="div__message-success">
    <p class="comment-message"><%= flash[:post_success] %></p>
  </div>
<% end %>

<h1><%= @article.title %></h1>

<br>
<hr>
<br>

<div class="article">
  <p><%= @article.body %></p>
</div>

<br>
<hr>

<div class="links">
<ul>
  <li><%= link_to "All Articles", root_path %></li>
  <li> | </li>
  <li><%= link_to "Edit" , edit_article_path(@article) %></li>
  <li> | </li>
  <li><%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>
</div>

<hr class="nav__underline">

<h2><%= "Comments" if @article.comments.exists? %></h2>

<p><%= "There are #{@article.comments.count} comments on this article"%></p>
<%= render @article.comments %>

<hr>
<br><br>

<h2>Add a comment:</h2>

<hr>

<%= render 'comments/form' %>

